ScrollViewPro
{
    border-radius: 12px;
    padding: 8px;
}

.unity-base-slider .unity-base-slider__tracker,
.unity-base-slider .unity-base-slider__tracker:hover
{
    border-radius: 12px;
    background-color: rgba(0,0,0,0.1);
    border-width: 0px;
}

.unity-base-slider .unity-base-slider__dragger,
.unity-base-slider .unity-base-slider__dragger:hover
{
    left:0px;
    width:100%;
    border-radius: 12px;
    background-color: #888888;
}